.b-100 {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media #{$lg} {
    padding: 20px 30px;
  }

  @media #{$xxl} {
    padding: 30px 40px;
  }

  &__text {
    width: 100%;
  }
}
.img-100 {
  width: 100%;
  height: auto;
  padding: 20px;

  @media #{$lg} {
    padding: 20px 30px;
  }

  @media #{$xxl} {
    padding: 30px 40px;
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

.b-75-25 {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  @media #{$lg} {
    padding: 20px 30px;
  }

  @media #{$xxl} {
    padding: 30px 40px;
  }

  &__col {
    width: 100%;

    @media #{$lg} {
      width: calc(75% - 10px);

      &:last-child {
        width: calc(25% - 10px);
      }
    }
  }
}

.b-50-50 {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  @media #{$lg} {
    padding: 20px 30px;
  }

  @media #{$xxl} {
    padding: 30px 40px;
  }

  &__col {
    width: 100%;

    @media #{$lg} {
      width: calc(50% - 10px);
    }
  }
}

.b-25-75 {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  @media #{$lg} {
    padding: 20px 30px;
  }

  @media #{$xxl} {
    padding: 30px 40px;
  }

  &__col {
    width: 100%;

    @media #{$lg} {
      width: calc(25% - 10px);

      &:last-child {
        width: calc(75% - 10px);
      }
    }
  }
}

.b-33 {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media #{$lg} {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 30px;
  }

  @media #{$xxl} {
    padding: 30px 40px;
  }

  &__col {
    width: 100%;
  }
}

.linea {
  width: 100%;
  padding: 20px 0;
  span {
    height: 1px;
    display: block;
    background-color: black;
  }
}

.separatore-s {
  height: 20px;

  @media #{$lg} {
    height: 30px;
  }
  @media #{$xxl} {
    height: 40px;
  }
}

.separatore-m {
  height: 40px;

  @media #{$lg} {
    height: 60px;
  }
  @media #{$xxl} {
    height: 80px;
  }
}

.separatore-l {
  height: 80px;

  @media #{$lg} {
    height: 120px;
  }
  @media #{$xxl} {
    height: 160px;
  }
}

.slider {
  &__list {
    &__item {
      height: 100%;
      min-height: 400px;
      overflow: clip;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &__text {
        position: unset;
        color: #fff;
        z-index: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.5);
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.tag-filtered-posts {
  width: 100%;
  padding: 20px;

  @media #{$lg} {
    padding: 20px 30px;
  }

  @media #{$xxl} {
    padding: 30px 40px;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media #{$lg} {
      grid-template-columns: repeat(3, 1fr);
    }
    li {
      list-style: none;

      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;

        .post-img {
          width: 100%;
          aspect-ratio: 1;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .post-title {
          padding-top: 20px;
          color: black;
          font-size: large;
        }
        .post-type {
          padding-top: 15px;
          color: black;
          font-size: small;
          text-transform: uppercase;
        }
      }
    }
  }
}

.sponsor-field {
  width: 100%;
  padding: 20px;

  @media #{$lg} {
    padding: 20px 30px;
  }

  @media #{$xxl} {
    padding: 30px 40px;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media #{$lg} {
      grid-template-columns: repeat(4, 1fr);
    }
    li {
      list-style: none;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .post-img {
        width: 100%;
        aspect-ratio: 1;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .post-title {
        padding-top: 20px;
        color: black;
        font-size: large;
      }
    }
  }
}
