.title-1{
    font-size: 4em;
    line-height: 1.2em;
}
.title-2{
    font-size: 1.6em;
    line-height: 1.4em;
}
.title-3{
    font-size: 1.4em;
    line-height: 1.4em;
}
.title-4{
    font-size: 1.3em;
    line-height: 1.5em;
}
.text-body{
    font-size: 1.2em;
    line-height: 1.6em;
}

.bold{
    font-weight: 600;
}