.title-1,
h1 {
  font-family: $primary-font;
  // font-size: 4em;
  // line-height: 1.2em;
  // font-weight: 400;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
}

.title-2,
h2 {
  font-family: $primary-font;
  // font-size: 2.6em;
  font-size: 1.7rem;
  line-height: 1.4em;
  font-weight: 400;
}

.title-3,
h3 {
  font-family: $primary-font;
  font-size: 1.7rem;
  line-height: 2.3rem;
  font-weight: 400;
}

.title-4,
h4 {
  font-family: $primary-font;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.title-5,
h5 {
  font-family: $primary-font;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.title-6,
h6 {
  font-family: $primary-font;
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-weight: 400;
}

.text-body,
p {
  font-family: $primary-font;
  font-size: 1.1rem;
  line-height: 200%;

  @media #{$lg} {
    font-size: 1.3rem;
  }
}

footer .text-body {
  line-height: 150%;
  font-size: 1.1rem;
}

.text-body-small {
  font-family: $primary-font;
  font-size: 1em;
  line-height: 200%;

  @media #{$lg} {
    font-size: 1.1rem;
  }
}

.bold,
strong {
  font-weight: 600;
}

.post-content,
.content-type {
  p {
    font-family: $primary-font;
    font-size: 1.1rem;
    line-height: 200%;

    @media #{$lg} {
      // font-size: 1.3em;
      font-size: 1.3rem;
    }
  }

  strong {
    font-weight: 600;
  }
}

a {
  color: black;
}